torch
torchvision
diffusers
transformers
gradio>=4.0.0
opencv-python
httpx==0.23.3
timm
einops
ftfy
facexlib
insightface
onnxruntime
onnxruntime-gpu
accelerate
SentencePiece
safetensors
torchsde
basicsr
